body {
    text-align: center;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
}

.calculator {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.display {
    grid-column: 1 / -1;
    flex: 1;
    justify-content: center;
    text-align: right;
    text-decoration: none;
    border: none;
    background-color: gray;
    font-size: 50px;
}

.button {
    background-color: green;
    color: white;
}
