body {
    text-align: center;
    background-color: #885D28;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(110px, auto) repeat(4, 90px);
    border: solid burlywood 5px;
    border-radius: 5px;
}

.calculator {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.display {
    grid-column: 1 / -1;
    text-align: right;
    text-decoration: none;
    border: none;
    background-color: #D09F62;
    font-size: 70px;
}

.button {
    background-color: #C5873A;
    color: white;
    border-radius: 5px;
    font-size: 25px;
}

.footer {
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #D09F62;
    font-size: 20px;
}

.footer > button {
    background-color: red;
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
    text-decoration: none;
    
}